*:not(i){
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 200;
}
.paspartu_bottom, .paspartu_right{
    display: none;
}
.paspartu_outer {
    padding: 0 0 0 1.7% !important;
}
.paspartu_middle_inner .paspartu_top{
    display: none;
}
.q_logo_vertical{
    margin-top: 35px !important;
}
nav.vertical_menu{
    margin:  35px 0 0 !important;
}
footer{
    margin-bottom: 0 !important;
}
#back_to_top{
    display: none !important;
}
.carousel-inner{
    min-width: 100% !important;
}
.q_logo_vertical {
    position: relative;
    left: 6px;
}
.ajax_loader .two_rotating_circles{
    display: none !important;
}
/* breadcrumb on blog */
.post_info{
    display: none !important;
}
.blog_holder{
    margin-top: 18px;
}
.default_template_holder{
    padding-top: 0 !important;
}
.fullHeight{
    min-height: 1000px;
}
.product{
    margin-top: 32px !important;
}
.summary h1{
    margin-top: 30px;
}
.add-to-cart-button{
    display: none !important;
}
.default_template_holder{
    width: auto;
    max-width: 1100px !important;
}
.woocommerce-product-gallery__wrapper{
    margin-left: 0;
}
.reviews_tab{
    display: none !important;
}
.woocommerce .product .images img{
    min-width: 100%;
}
.qode-related-upsells-title{
    margin-bottom: 0 !important;
}
.social_share_list_holder{
    display: none;
}
.q_accordion_holder.boxed div.accordion_content {
    padding: 0 26px !important;
}