*:not(i){
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 200;
}
.paspartu_bottom, .paspartu_right{
    display: none;
}
.paspartu_outer {
    padding: 0 0 0 1.7% !important;
}
.paspartu_middle_inner .paspartu_top{
    display: none;
}
.q_logo_vertical{
    margin-top: 35px !important;
}
nav.vertical_menu{
    margin:  35px 0 0 !important;
}
footer{
    margin-bottom: 0 !important;
}
#back_to_top{
    display: none !important;
}
.carousel-inner{
    min-width: 100% !important;
}
.q_logo_vertical {
    position: relative;
    left: 6px;
}
.ajax_loader .two_rotating_circles{
    display: none !important;
}
/* breadcrumb on blog */
.post_info{
    display: none !important;
}
.blog_holder{
    margin-top: 18px;
}
.default_template_holder{
    padding-top: 0 !important;
}
.fullHeight{
    min-height: 1000px;
}
.product{
    margin-top: 32px !important;
}
.summary h1{
    margin-top: 30px;
}